*.iml
image_data_big/local_data
.Rhistory
*.DS_Store
.sass-cache*
Gemfile.lock
_site*
*.swp
.travis.yml
.bundle/
.vendor/
.idea
Thumbs.db
~$*
*.ipynb
.ipynb_checkpoints
**/__pycache__/
Untitl*
.vscode
cytoscape_data.json
