<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="https://git.embl.de/grp-bio-it/image-analysis-training-resources/">Source code</a></li>
          <li><a href="{{site.contributing | relative_url }}">Contributions to this material are very welcome.</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <p>Use of this site falls under <a href="https://www.embl.de/aboutus/privacy_policy/index.html">EMBL's Privacy Policy</a>.</p>
      </div>
    </div>

  </div>

</footer>
